<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="vcs-git" href="https://salsa.debian.org/reproducible-builds/reproducible-website.git" title="Git repository" />
    <link rel="shortcut icon" type="image/png" href="{{ "/images/favicon.png" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
    <link rel="stylesheet" href="{{ "/css/skeleton.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">

</head>
